development: &defaults
  adapter: mysql2
  encoding: utf8
  database: xnodes_development
  username: root
  password:
  pool: 10
  reconnect: true

test:
  <<: *defaults
  database: xnodes_test

production:
  <<: *defaults
  database: xnodes_production
